{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nightly Stats</title>
    </head>
    <body>
    <div id='stats1'></div>

    {% verbatim %}
    <script id="day_results" type="text/x-handlebars-template">

    <p><br>Date: {{this.date}}<br>
        Net Sales: ${{this.net_sales}}<br>
        Forecast: ${{this.forecast}}<br>
        Food Sales: ${{this.food_sales}}<br>
        Beverage Sales: ${{this.beverage_sales}}<br>
        Liquor Sales: ${{this.liquor_sales}}<br>
        Beer Sales: ${{this.beer_sales}}<br>
        Wine Sales: ${{this.wine_sales}}<br>
        Last Year Sales: ${{this.last_year}}<br>
        Variance From Last Year: ${{this.vs_lastyear}}<br>
        WTD Sales: ${{this.WTD_sales}}<br>
        WTD Budget: ${{this.WTD_budget}}<br>
        WTD Sales Last Year: ${{this.WTD_sales_last_year}}<br>
        WTD Variance From Last Year: ${{this.week_vs_lastyear}}<br>
        LBW Sales: ${{this.LBW_sales}}<br>
        Liquor Mix: ${{this.liquor_mix}}<br>
        FOH Actual: ${{this.foh_actual}}<br>
        FOH Target: ${{this.foh_target}}<br>
        FOH Variance: ${{this.foh_variance}}<br>
        BOH Actual: ${{this.boh_actual}}<br>
        BOH Target: ${{this.boh_target}}<br>
        BOH Variance: ${{this.boh_variance}}<br>
        Comp 2: ${{this.comp_2}}<br>
        Comp 11: ${{this.comp_11}}<br>
        Comp 6: ${{this.comp_6}}<br>
        Comp 4: ${{this.comp_4}}<br>
        Comp 7: ${{this.comp_7}}<br>
        Comp 8: ${{this.comp_8}}<br>
        Takeaway Sales: ${{this.takeaway_sales}}<br>
        Takeaway %: {{this.takeaway_percentage}}%<br>
        Delivery Sales: ${{this.deliveries_sales}}<br>
        Headwait: {{this.headwait}}<br>
        Drop Variance: ${{this.drop_variance}}<br>
        Managers: {{this.managers}}<br>
        Food Harvest: {{this.food_harvest}}<br>
        TCI Percentage: {{this.drop_variance}}%<br>
        TCI Variance: ${{this.TCI_variance}}<br>
        Lunch Sales: ${{this.lunch_sales}}<br>
        PC Drawer: ${{this.pc_drawer}}<br>
        </p>
    {% endverbatim %}
    </script>


<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    </body>
</html>
