{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nightly Stats</title>
    </head>
    <body>
    <div id='stats1'></div>

    {% verbatim %}
    <script id="day_results" type="text/x-handlebars-template">

    <p><br>Date: {{this.date}}<br>
        Food Sales: ${{this.food_sales}}<br>
        Beverage Sales: ${{this.beverage_sales}}<br>
        Net Sales: ${{this.net_sales}}</p>


    {% endverbatim %}
    </script>


<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    </body>
</html>
