<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form>
          <input class="input" type="text" id="net_sales" name="input" placeholder="Net Sales"/><br>
          <input class="input" type="text" id="forecast" name="input" placeholder="Forecast"/><br>
          <input class="input" type="text" id="food_sales" name="input" placeholder="Food Sales"/><br>
          <input class="input" type="text" id="beverage_sales" name="input" placeholder="Beverage Sales"/><br>
          <input class="input" type="text" id="liquor_sales" name="input" placeholder="Liquor Sales"/><br>
          <input class="input" type="text" id="beer_sales" name="input" placeholder="Beer Sales"/><br>
          <input class="input" type="text" id="wine_sales" name="input" placeholder="Wine Sales"/><br>
          <input class="input" type="text" id="wine_sales" name="input" placeholder="Last Year Sales"/><br>
          <input class="input" type="text" id="wine_sales" name="input" placeholder="Variance From Last Year"/><br>
          <button id="culturePrefs" class="locationButton" type="submit">submit</button>
        </form>
    </body>
</html>
