<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nightly Stats</title>
    </head>
    <body>
        <form>
          <input class="input" type="text" id="net_sales" name="input" placeholder="Net Sales"/><br>
          <input class="input" type="text" id="forecast" name="input" placeholder="Forecast"/><br>
          <input class="input" type="text" id="food_sales" name="input" placeholder="Food Sales"/><br>
          <input class="input" type="text" id="beverage_sales" name="input" placeholder="Beverage Sales"/><br>
          <input class="input" type="text" id="liquor_sales" name="input" placeholder="Liquor Sales"/><br>
          <input class="input" type="text" id="beer_sales" name="input" placeholder="Beer Sales"/><br>
          <input class="input" type="text" id="wine_sales" name="input" placeholder="Wine Sales"/><br>
          <input class="input" type="text" id="last_year_sales" name="input" placeholder="Last Year Sales"/><br>
          <input class="input" type="text" id="variance_from_last_year" name="input" placeholder="Variance From Last Year"/><br>
          <input class="input" type="text" id="WTD_sales" name="input" placeholder="WTD Sales"/><br>
          <input class="input" type="text" id="WTD_budget" name="input" placeholder="WTD Budget"/><br>
          <input class="input" type="text" id="WTD_sales_last_year" name="input" placeholder="WTD Sales Last Year"/><br>
          <input class="input" type="text" id="week_vs_lastyear" name="input" placeholder="WTD Variance"/><br>
          <input class="input" type="text" id="LBW_sales" name="input" placeholder="LBW Sales"/><br>
          <input class="input" type="text" id="liquor_mix" name="input" placeholder="Liquor Mix"/><br>
          <input class="input" type="text" id="foh_actual" name="input" placeholder="FOH Actual"/><br>
          <input class="input" type="text" id="foh_target" name="input" placeholder="FOH Target"/><br>
          <input class="input" type="text" id="foh_variance" name="input" placeholder="FOH Variance"/><br>
          <input class="input" type="text" id="boh_actual" name="input" placeholder="BOH Actual"/><br>
          <input class="input" type="text" id="boh_target" name="input" placeholder="BOH Target"/><br>
          <input class="input" type="text" id="boh_variance" name="input" placeholder="BOH Variance"/><br>
          <input class="input" type="text" id="comp_2" name="input" placeholder="Comp 2"/><br>
          <input class="input" type="text" id="comp_11" name="input" placeholder="Comp 11"/><br>
          <input class="input" type="text" id="comp_6" name="input" placeholder="Comp 6"/><br>
          <input class="input" type="text" id="comp_4" name="input" placeholder="Comp 4"/><br>
          <input class="input" type="text" id="comp_7" name="input" placeholder="Comp 7"/><br>
          <input class="input" type="text" id="comp_8" name="input" placeholder="Comp 8"/><br>
          <input class="input" type="text" id="takeaway_sales" name="input" placeholder="Takeaway Sales"/><br>
          <input class="input" type="text" id="takeaway_percentage" name="input" placeholder="Takeaway Percentage"/><br>
          <input class="input" type="text" id="deliveries_sales" name="input" placeholder="Delivery Sales"/><br>
          <input class="input" type="text" id="headwait" name="input" placeholder="Headwait"/><br>
          <input class="input" type="text" id="drop_variance" name="input" placeholder="Drop Variance"/><br>
          <input class="input" type="text" id="managers" name="input" placeholder="Closing Manager"/><br>
          <input class="input" type="text" id="food_harvest" name="input" placeholder="Food Harvest #s"/><br>
          <input class="input" type="text" id="TCI_percentage" name="input" placeholder="TCI Percentage"/><br>
          <input class="input" type="text" id="TCI_variance" name="input" placeholder="TCI Variance"/><br>
          <input class="input" type="text" id="lunch_sales" name="input" placeholder="Lunch Sales"/><br>
          <input class="input" type="text" id="PC_drawer" name="input" placeholder="PC Drawer"/><br>

          <button id="culturePrefs" class="locationButton" type="submit">submit</button>
        </form>
    </body>
</html>
