<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form>
          <input class="input" type="text" id="net_sales" name="input" placeholder="Net Sales"/><br>
          <input class="input" type="text" id="forecast" name="input" placeholder="Forecast"/><br>
          <input class="input" type="text" id="food_sales" name="input" placeholder="Food Sales"/><br>
          <input class="input" type="text" id="beverage_sales" name="input" placeholder="Beverage Sales"/><br>
          <input class="input" type="text" id="liquor_sales" name="input" placeholder="Liquor Sales"/><br>
          <input class="input" type="text" id="beer_sales" name="input" placeholder="Beer Sales"/><br>
          <input class="input" type="text" id="wine_sales" name="input" placeholder="Wine Sales"/><br>
          <input class="input" type="text" id="last_year_sales" name="input" placeholder="Last Year Sales"/><br>
          <input class="input" type="text" id="variance_from_last_year" name="input" placeholder="Variance From Last Year"/><br>
          <input class="input" type="text" id="WTD_sales" name="input" placeholder="WTD Sales"/><br>
          <input class="input" type="text" id="WTD_budget" name="input" placeholder="WTD Budget"/><br>
          <input class="input" type="text" id="WTD_sales_last_year" name="input" placeholder="WTD Sales Last Year"/><br>
          <input class="input" type="text" id="week_vs_lastyear" name="input" placeholder="WTD Variance"/><br>
          <input class="input" type="text" id="LBW_sales" name="input" placeholder="LBW Sales"/><br>

          <button id="culturePrefs" class="locationButton" type="submit">submit</button>
        </form>
    </body>
</html>

"last_year": "9225.00",
"vs_lastyear": "-1300.00",
"WTD_sales": "0.00",
"WTD_budget": "9824.00",
"WTD_sales_last_year": "0.00",
"week_vs_lastyear": "0.00",
"LBW_sales": "810.00",
"liquor_mix": "9.00",
"foh_actual": "321.00",
"foh_target": "305.00",
"foh_variance": "16.00",
"boh_actual": "887.00",
"boh_target": "715.00",
"boh_variance": "172.00",
"comp_2": "79.00",
"comp_11": "22.00",
"comp_6": "787.00",
"comp_4": "76.00",
"comp_7": "0.00",
"comp_8": "41.00",
"takeaway_sales": "1661.00",
"takeaway_percentage": "26.00",
"deliveries_sales": "9.00",
"headwait": "Sean",
"drop_variance": "1.00",
"managers": "Bryan",
"food_harvest": "0.00",
"TCI_percentage": "37.00",
"TCI_variance": "8150.00",
"lunch_sales": "1268.00",
"pc_drawer": "2172.00"
